@import "checkbox.css";

.auth__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-decor-gradient {
}

.auth__wrapper-form {
  border: 1px solid rgba(118, 118, 118, 0.2);
  border-radius: 30px;
  width: 550px;
  backdrop-filter: blur(50px);
  background: rgba(168, 186, 187, 0.08);
  padding: 40px;
}

.auth__title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.auth__title h1 {
  font-weight: 600;
  font-size: 26px;
  line-height: 150%;
  color: var(--white);
  max-width: 185px;
}

.auth__title-link {
  display: flex;
  flex-direction: column;
  gap: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 150%;
  text-align: right;
  color: var(--white);
}

.auth__title-link a {
  transition: all .3s;
}

.auth__title-link a:hover {
  color: #fe024c;
}

.auth__title-link span {
  display: block;
}

.auth__input {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 100%;
}

.error-text {
  display: block;
  color: #ffffff;
  border: 1px solid transparent;
  background: rgba(168, 186, 187, 0.08);
  border-radius: 10px;
  padding: 13px;
}

.auth__input li {
  align-items: center;
  gap: 5px;
  display: flex;

  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: var(--white);

  width: 100%;
  border-radius: 15px;
  backdrop-filter: blur(4px);
  background: var(--gradient-for-input);
  padding: 21px 20px;
  cursor: text;
  transition: all .3s;
}

input::placeholder,
.auth__input li input {
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  background: transparent;

  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  color: var(--white);
}

input::placeholder {
  color: #D4D4D4;
}

.auth__warn {
  display: block;
  margin-top: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: var(--white);
}


.block_politika {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 300;
  font-size: 13px;
  line-height: 140%;
  color: #ddd;
}

.auth__btn {
  margin-top: 20px;
  border-radius: 15px;
  padding: 19px 22px;
  width: 100%;
  background: linear-gradient(90deg, #fe014b 0%, #d2154c 100%);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .4s;
}

.auth__btn:hover {
  border: 1px solid #fe024c;
  background: transparent;
}

button {
  font-family: "Inter", sans-serif;
}






