*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #1D1D1F;
  --white: #f2f2f2;
  --gray: #717173;
  --background-for-block: #e3e3e3;
  --gradient-orange: linear-gradient(#B16CEF, #FF5E69, #FF8A56, #FFA84B);
  --gradient-cherry: linear-gradient(#FE014B, #D2154C);
  --gradient-for-input: linear-gradient(90deg, rgba(231, 231, 231, 0.10), rgba(152, 152, 152, 0.10));
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: var(--black);
}

.container {
  max-width: 1668px;
  margin: 0 auto;
  padding: 0 15px;
}


.title {
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
}
