*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #131313;
  --red: #FB4A36;
  --gray: #595959;
  --white: #FFFCF5;
  --green: #30372A;
  --block: #F4F0E7;
  --gray-two: #D1CEC9;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'helvetica_regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: var(--black);
  background: var(--white);
}

.container {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 5px;
}


.title {
  font-family: "Gogh";
  font-weight: 800;
  font-size: 32px;
  color: var(--black);
}

img {
  width: 100%;
}