.landing-section {
  margin-top: 80px;
}

.landing_wrapper {
  display: flex;
  justify-content: space-between;
}

.landing_left {
  max-width: 630px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.landing-text {
  width: fit-content;
  font-family: 'helvetica_regular';
  font-weight: 400;
  font-size: 16px;
  color: var(--red);
  border-left: 1px solid var(--red);
  border-right: 1px solid var(--red);
  border-radius: 500px;
  padding: 13px 19px;
  background: rgba(251, 74, 54, 0.1);
}

.landing-title {
  font-family: 'helvetica_bold';
  font-weight: 600;
  font-size: 59px;
  line-height: 140%;
  color: var(--black);
}

.landing-description {
  font-family: 'helvetica_regular';
  font-weight: 400;
  font-size: 19px;
  line-height: 150%;
  color: var(--black);
}

.landing-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.landing-btns a:nth-child(1) {
  border-radius: 500px;
  padding: 20px 35px;
  box-shadow: 0 6px 9px 0 rgba(251, 74, 54, 0.5);
  background: var(--red);
  font-family: 'helvetica_regular';
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
  transition: all .3s;
  border: 1px solid transparent;
}

.landing-btns a:nth-child(1):hover {
  color: var(--red);
  background: transparent;
  transform: translateY(-8px);
  border: 1px solid var(--red);
  box-shadow: unset;
}

.landing-btns a:nth-child(2) {
  font-family: 'helvetica_regular';
  font-weight: 400;
  font-size: 18px;
  color: var(--red);
  border: 1px solid var(--red);
  border-radius: 500px;
  padding: 20px 35px;
  transition: all .3s;
  background: transparent;
}

.landing-btns a:nth-child(2):hover {
  transform: translateY(-8px);
  border: 1px solid transparent;
  color: var(--white);
  background: var(--red);
  box-shadow: 0 6px 9px 0 rgba(251, 74, 54, 0.5);
}

.landing_right {
  width: 744px;
  height: 600px;
}

.advantages {
  margin-top: 80px;
}

.advantages_wrapper {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantages_wrapper li {
  padding: 18px 24px;
  border: 2px solid var(--gray-two);
  border-radius: 500px;
  width: 100%;
  display: flex;
  gap: 25px;
  align-items: center;
  transition: all .3s;
}

.advantages_wrapper li:hover {
  border: 2px solid var(--black);
}

.advantages_wrapper li h2 {
  font-family: 'Gogh';
  font-weight: 800;
  font-size: 55px;
  color: var(--black);
  border: 2px solid var(--black);
  border-radius: 500px;
  width: 155px;
  height: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.advantages_wrapper li span {
  display: block;
  font-family: 'helvetica_regular';
  font-weight: 500;
  font-size: 21px;
  line-height: 150%;
  color: var(--black);
  max-width: 287.78px;
}


.top_pizza {
  margin-top: 80px;
}

.pizza_list {
  margin-top: 55px;
  display: flex;
  gap: 33px;
  justify-content: space-between;
}

.pizza_list li {
  border-radius: 20px;
  background: var(--block);
  overflow: hidden;
  width: 380px;
  height: 508px;
}

.pizza_list li img {
  width: 300px;
  height: 300px;
}

.pizza-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
}

.pizza-info {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.pizza-info h2 {
  font-family: 'Soyuz Grotesk';
  font-weight: 700;
  font-size: 32px;
  color: var(--black);
  max-width: 200px;
}

.pizza-info span {
  font-family: 'helvetica_regular';
  font-weight: 500;
  font-size: 16px;
  color: var(--gray);
}

.pizza-status {
  font-family: 'Gogh';
  font-weight: 800;
  font-size: 14px;
  text-align: center;
  color: #ff902f;
  border-radius: 12px;
  padding: 13px;
  background: rgba(255, 144, 47, 0.18);
}

.pizza-bottom {
  padding: 0 23px 30px 23px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.pizza-cost {
  font-family: 'Gogh';
  font-weight: 800;
  font-size: 29px;
  color: var(--black);
}

.pizza-bottom a {
  font-family: 'Soyuz Grotesk';
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: var(--red);
  background: rgba(251, 74, 54, 0.18);
  border-radius: 12px;
  padding: 15px 16px;
  transition: all .3s;
}

.pizza-bottom a:hover {
  transform: scale(.97);
  background: rgba(251, 74, 54, 0.199);
}

.workPeople {
  margin-top: 80px;
}

.workPeople_wrapper {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  gap: 34px;
}

.workPeople_wrapper li {
  width: 517px;
}

.workPeople_wrapper li img {
  width: 517px;
  height: 646px;
  object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
}

.workPeople-name {
  margin-top: 53px;
  font-family: 'Gogh';
  font-weight: 800;
  font-size: 37px;
  color: var(--black);
  text-align: center;
}

.workPeople-work {
  text-align: center;
  display: block;
  font-family: 'helvetica_light';
  font-weight: 300;
  font-size: 24px;
  color: var(--gray);
  margin-top: 20px;
}

.reviews {
  margin-top: 80px;
}

.reviews_list {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  gap: 38px;
}

.reviews_list li {
  width: 791px;
  height: 484px;
  overflow: hidden;
  border-radius: 13px;
  padding: 74px 37px;
  background: var(--block);
}

.reviews_list li img {
  width: 70px;
}

.reviews_title {
  font-family: 'Gogh';
  font-weight: 800;
  font-size: 27px;
  line-height: 140%;
  color: var(--black);
  margin-top: 50px;
}

.reviews_author span {
  display: block;
  font-family: 'helvetica_light';
  font-weight: 300;
  font-size: 23px;
  line-height: 140%;
  color: var(--gray);
}

.reviews_author {
  margin-top: 80px;
}

.contacts {
  margin-top: 80px;
}

.contacts_wrapper {
  margin-top: 55px;
  position: relative;
}

.contacts_input {
  width: 100%;
  overflow: hidden;
  border: 1px solid var(--gray-two);
  border-radius: 868px;
  padding: 19px 37px;
  height: 100px;
  transition: all .3s;
  outline: none;

  font-family: 'Gogh';
  font-weight: 800;
  font-size: 18px;
  color: var(--black);}

.contacts_input::placeholder {
  font-family: 'Gogh';
  font-weight: 800;
  font-size: 18px;
  color: var(--gray-two);
}

.contacts_input:focus {
  border: 1px solid var(--black);

}


.contacts_btn {
  position: absolute;
  top: 50%;
  right: 37px;
  transform: translateY(-50%);

  border-radius: 500px;
  padding: 24px 38px;
  font-family: 'helvetica_regular';
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
  box-shadow: 0 6px 9px 0 rgba(251, 74, 54, 0.5);
  background: var(--red);
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all .3s;
}

.contacts_btn:hover {
  border: 1px solid var(--red);
  color: var(--red);
  background: transparent;
  box-shadow: unset;
}