.profile {
  margin-top: 80px;
}

.profile_list {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.profile_list li {
  padding: 25px 25px 35px;
  border-radius: 20px;
  background: var(--block);
}

.profile_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile_text span {
  font-family: 'helvetica_regular';
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: var(--black);
}

.profile-icon {
  width: 45px;
  height: 45px;
  object-fit: cover;
}


.profile_info {
  font-weight: 600;
  font-size: 34px;
  line-height: 120%;
  color: var(--black);
  font-family: 'helvetica_bold';
  margin-top: 21px;

  max-width: 250px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}