@import "search.css";
@import "profile.css";
@import "home.css";
@import "landing.css";
@import "auth.css";
@import "footer.css";
@import "global.css";
@import "header.css";
@import "footer.css";
@import "reset.css";

@font-face {
  font-family: "helvetica_light";
  src: url("../fonts/Helvetica/helvetica_light.otf") format(".otf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "helvetica_regular";
  src: url("../fonts/Helvetica/helvetica_regular.otf") format(".otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "helvetica_bold";
  src: url("../fonts/Helvetica/helvetica_bold.otf") format(".otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Gogh";
  src: url("../fonts/Gogh/Gogh-Bold.ttf") format(".ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Soyuz Grotesk";
  src: url("../fonts/SoyuzGrotesk/SoyuzGroteskBold.otf") format(".otf");
  font-style: normal;
  font-weight: 400;
}
